<mat-toolbar color="primary">
    <span>
        <a routerLink="/">My Posts</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="authorized">
            <a mat-button routerLink="/create" routerLinkActive="active">Create One!</a>
        </li>
        <li *ngIf="!authorized">
            <a mat-button routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!authorized">
            <a mat-button routerLink="/auth/signup" routerLinkActive="active">Sign Up</a>
        </li>
        <li *ngIf="authorized" (click)="onLogout()">
            <button mat-button>Sign Out</button>
        </li>
    </ul>
</mat-toolbar>
