<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onLogin(loginForm)"  #loginForm="ngForm"> 
      <mat-form-field>
        <input matInput type="email" name="email" ngModel placeholder="email" #emailInput="ngModel"
        required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input
          matInput
            type="password" name="password" placeholder="password" 
            ngModel #passwordInput="ngModel" required minlength="6"
        >
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
      </mat-form-field>
      <br>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!loginForm.valid"
       >Login</button>
    </form>
</mat-card>
  